!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title
      - if content_for?(:title)
        = "#{yield(:title)} | SUP for the Soul"
      - else
        SUP for the Soul | a land locked surfer looking for a fix…
    = stylesheet_link_tag    "guest_location_viewer/application", media: "all"
    = javascript_include_tag "guest_location_viewer/application"
    = csrf_meta_tags
    = favicon_link_tag "guest_location_viewer/favicon.ico"
  %body.home.blog.single-author
    #container
      #flash
        - if flash[:notice]
          .alert-warning= flash[:notice]
        - if flash[:error]
          .alert-danger= flash[:error]
      #header
        %h1#site-title
          %a{:href => "http://supforthesoul.com/", :rel => "home", :title => "SUP for the Soul"} SUP for the Soul
        %h2#site-description a land locked surfer looking for a fix…
      #menu
        %ul
          %li
            %a{:href => "/", :title => "Home"} Home
          %li
            %a{:href => "http://blog.supforthesoul.com/", :title => "Blog"} Blog
          %li
            %a{:href => "http://forum.supforthesoul.com/", :title => "Forum"} Forum
          - if @current_user
            %li
              %a{:href => "/profile", :title => "Profile"} Profile
            %li
              %a{:href => "/logout", :title => "Logout"} Logout
          - else
            %li
              %a{:href => "/login", :title => "Login"} Login
            %li
              %a{:href => "/sign_up", :title => "Sign Up"} Sign Up
      #contents
        .hentry
          .entry-meta
            = yield :sidebar
          .main
            = yield
      #footer
        Theme: Chunk by
        = succeed "." do
          %a{:href => "http://automattic.com/", :rel => "designer"} Automattic