%h3= "Are you sure you want to delete '#{@location.name}'?"

= form_tag location_path(@location), method: :delete do
  = label_tag("deletion_reason", "Reason for Deletion")
  = select_tag "deletion_reason", options_from_collection_for_select(Locations::Location::DELETION_REASON_CODES, :first, :last)
  = submit_tag "Confirm Delete"