- content_for :sidebar do
  %h2.entry-title Locations Created by YOU!

%div
  = link_to "New Standing Wave", new_standing_wave_path

  %table
    %tr
      %th
        Name
      %th
        Type
      %th
        Actions
    - @locations.each do |location|
      %tr
        %td
          = location.name
        %td
          = "#{location.state_abbreviation}/#{location.label}"
        %td
          = link_to "View", view_location_path(location)
          = link_to "Edit", edit_standing_wave_path(location)
          = link_to "Delete", destroy_confirmation_location_path(location)