= form_for @standing_wave do |f|
  %div
    = f.label :name
    = f.text_field :name

  %div
    = f.label :state_abbreviation
    = f.select :state_abbreviation, Locations::Location::STATES.invert

  %div
    = f.label :description
    = f.text_area :description

  %div
    = f.label :directions, "Directions to Wave"
    = f.text_area :directions

  %div
    = f.label :suggested_boards, "What boards are best for surfing this wave?"
    = f.text_area :suggested_boards

  %div
    = f.label :suggested_skill_level, "Was is the recommended skill level for this wave (include what flows they apply to)"
    = f.text_area :suggested_skill_level

  %div
    = submit_tag "Save"