<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>SUPLocator | a land locked surfer looking for a fix…</title>
  <%= stylesheet_link_tag    "guest_location_viewer/application", media: "all" %>
  <%= javascript_include_tag "guest_location_viewer/application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "guest_location_viewer/favicon.ico" %>
</head>
<body class="home blog single-author">
<div id="container">
  <div id="header">
    <h1 id="site-title"><a href="http://suplocator.com/" title="SUPLocator" rel="home">SUPLocator</a></h1>
    <h2 id="site-description">a land locked surfer looking for a fix…</h2>
  </div>
  <div id="menu">
    <ul>
      <li>
        <a href="http://suplocator.com/" title="Home">Home</a>
      </li>
      <li>
        <a href="http://blog.suplocator.com/" title="Home">Blog</a>
      </li>
      <li>
        <a href="http://forum.suplocator.com/" title="Home">Forum</a>
      </li>
    </ul>
  </div>

  <%= yield %>

  <div id="footer">
    <a href="http://wordpress.org/" title="A Semantic Personal Publishing Platform" rel="generator">Proudly powered by WordPress</a>
    <span class="sep"> | </span>
    Theme: Chunk by <a href="http://automattic.com/" rel="designer">Automattic</a>.	</div>

  </div>
</body></html>